<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @pin.name %>
</h1>

<div class="row">
  <div class="high-scores col-md-8">
    <% if @pin.hi_scores.empty? != true %>
      <table class="table">
        <tr>
          <th>Score</th>
          <th>Date</th>
          <th>Player</th>
        </tr>
        <% @pin.hi_scores.order("score DESC").each do |x| %>
          <tr>
            <td><%= x.score %></td>
            <td><%= x.created_at.strftime("%m/%d/%Y") %></td>
            <td><%= x.user.username %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      No high scores yet!
    <% end %>
  </div>

  <div class="col-md-4">
    <h3>Add a high score</h3>
    <%= form_for([@pin, HiScore.new]) do |f| %>
      <%= f.label :score %>
      <%= f.text_field :score %>
      <br/>
      <%= f.submit %>
    <% end %>
  </div>
