<div>
  <div>
    <%= form_for @user do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>
      <br/>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <br/>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <br/>
      <% if obj == 'new' %>
        <%= f.submit 'Register' %>
      <% else %>
        <%= f.collection_check_boxes(:pin_ids, Pin.all.order("name ASC"), :id, :name) do |b|  %>
          <%= b.label do %>
            <%= b.check_box + b.text %><br/>
          <% end %>
        <% end %>
        <%= f.submit 'Update my info' %>
      <% end %>
    <% end %>
  </div>
</div>
