<p id="notice"><%= notice %></p>

<h1>Listing Tables</h1>

<ul id="table_list">
  <%= render @tables %>
</ul>

<br>

<%= link_to 'New Table', new_table_path %>
<%= form_for(@table, remote: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "table_info" %>
  <br/>
  <%= f.label :season %>
  <%= f.text_field :season, class: "table_info", id: "table_name" %>
  <br/>
  <%= f.submit "Create table", id: "submit_table" %>
<% end %>
