<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @table.name %>
</p>

<div class="high-scores">
  <% if @table.high_scores.empty? != true %>
    <table>
      <tr>
        <th>Score</th>
        <th>Date</th>
        <th>Player</th>
      </tr>
      <% @table.high_scores.order("score DESC").each do |x| %>
        <tr>
          <td><%= x.score %></td>
          <td><%= x.created_at %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    No high scores yet!
  <% end %>
</div>

<%= link_to 'Edit', edit_table_path(@table) %> |
<%= link_to 'Back', tables_path %>

<h3>Add a high score</h3>
<%= form_for([@table, HighScore.new]) do |f| %>
  <%= f.label :score %>
  <%= f.text_field :score %>
  <br/>
  <%= f.submit %>
<% end %>
